{% extends 'base.html' %}
{% block content %}
<h1>Vehículos</h1>
<a href="/create/"><i class="fa fa-plus"></i></a>
<table class="table table-striped">
    <thead class theader-dark>
        <tr>
            <th>Placa</th>
            <th>Marca</th>
            <th>Color</th>
            <th>Modelo</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{ data.placa }}</td>
            <td>{{ data.marca }}</td>
            <td>{{ data.color }}</td>
            <td>{{ data.modelo }}</td>
            <td>
                <a href="/update/{{ data.id }}/"><i class="fa fa-edit"></i></a>
                <a href="/delete/{{ data.id }}/"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}